* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.startBtn {
    padding: 20px;
    margin: 20px auto;
    position: relative;
    color: rgb(115, 39, 196);
    border: 2px solid rgb(115, 39, 196);
    background: none;
    width: 200px;
    text-align: center;
}

.startBtn:hover {
    cursor: pointer;
    color: white;
    background: rgb(115, 39, 196);
  }

 .startBtn p {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
 }

 .disabled {
    border: 2px solid grey;
    color: grey;
    background: none;
 }

 .disabled:hover {
    border: 2px solid grey;
    color: grey;
    background: none;
 }

.canvas-wrapper {
    margin: auto;
    width: 1280px;
    position: relative;
}